**Compound data types**

Compound data type provide ways to organize and manage data values of any data types. The values contained in a variable of a compound data type will be one or more of the basic python data types(int, float, string, etc).

The followng are examples of compound data types:

**List**

A list is a collection of values which are ordered and are of different data types. Lists can grow or shrink and a data type of a given list element can be changed(mutable). They also allow duplicate items.
Lists are created using square brackets ```[]``` or ```list()```.

Example:

In [ ]:
list1 = [1,'a',2,3,'c','abcd']
print(list1)

[1, 'a', 2, 3, 'c', 'abcd']

**Tuple**

It is a collection of items that are ordered and imutable(unchangeable). Tuples also allow duplicate items.
Tuple items are indexed, the first item has index[0], second has index[1] while the last has index[-1].
Tuples are written with round brackets '()'.

**Example**

In [ ]:
my_tuple = ('Nairobi', 'Meru', 12, 47)
print(my_tuple)

('Nairobi', 'Meru', 12, 47)

To determine how homy items a list comtains use len() function.

In [ ]:
len(my_tuple)

4

**Sets**
Set is a collection of items which are unordered, unchngeable and alowws only unique items.
Sets are writen with curly brackets '{}'.
Example

In [ ]:
this_set = {"Data analytics", "Data Science", "Data engineering", 1, 3, 4}
print(this_set)

{1, 3, 4, 'Data engineering', 'Data Science', 'Data analytics'}

To get the lenth of a set use the len() function

In [ ]:
len(this_set)

6

It is also possible to use the set() construter to create a set

In [ ]:
my_set = set((1,2,'Apple', 'orange'))
print(my_set)

{1, 2, 'Apple', 'orange'}

You cannot access items on a set since the set items are not indexed and are unordered.
But you can loop through the items using the **for** loop or ckeck whether the specified value is present in a stack using the **in** keyword.

In [ ]:
for x in this_set:
  print(x)

1
3
4
Data engineering
Data Science
Data analytics

In [ ]:
# Check if apple is in my_set
print("Apple" in my_set)

True

**Dictionary**
a dictionary is a collection of items which are orderd, changeable and do not allow duplicate.
Used to store data values in key: value pairs.
They are writen with curly brackets.

Example

In [ ]:
cars = {
    'Brand': ['Audi','Toyota', 'Mercedes'],
    'Model': ['A series', 'Mark x', 'E series'],
    'Year': [2018, 2019, 2020]
}
cars

{'Brand': ['Audi', 'Toyota', 'Mercedes'],
 'Model': ['A series', 'Mark x', 'E series'],
 'Year': [2018, 2019, 2020]}

Dictionary items can be referenced using the key name.

In [ ]:
cars["Model"]

'A series'

To determine the number of items in a dictionary use the len() function

In [ ]:
len(cars)

3



---


**List Comprehension**

List comprehension offers a shorter way to create a new list by applying an exprression to each item in an existing iterable(List, string, tuple) or by filtering items based on a condition.

Example

Based on car list you want to select only cars with leter 'a' in the name.
Without list comprehension you will ave this code:

In [ ]:
car = ['audi', 'mercedes', 'toyota', 'mazda', 'bentley']
car_a = []
for x in car:
  if 'a' in x :
    car_a.append(x)

print(car_a)

['audi', 'toyota', 'mazda']

With list comprehension you can all that with only one line of code.

In [ ]:
carA = [x for x in car if 'a' in x]
carA

['audi', 'toyota', 'mazda']

The syntax for list comprehension is:


```
[expression for item in iteratable if condition == True]
```
The returned list is a new list leaveing the old one unchanged.

**expression**: Is the current item in the iterable, but you can manipulate it before it ends up like a list item in the new list.

In [ ]:
upper_car = [x.upper() for x in car if 'a' in x]
upper_car

['AUDI', 'TOYOTA', 'MAZDA']

**item**: The variable that takes value for each element in the iterable.

**iterable**: The collection of items you are altering over(eg list, tuple, etc).

**condition**: It is like a filter that accepts the items that evaluate to **True**.

Example:

In [ ]:
# A list that accepts only odd numbers
odd = [x for x in range(10) if x%2 != 0]
odd

[1, 3, 5, 7, 9]

**Nested comprehension list**
Comprehsion list can be nested ho handle matrices or perform operations that involve multiple loops.

Example:

In [ ]:
#Ooutputs a 2d list of cars repeated three times
matrix = [[x for x in car] for _ in range(3)] # Run a loop a certain number of items without using the loop variable.
matrix

[['audi', 'mercedes', 'toyota', 'mazda', 'bentley'],
 ['audi', 'mercedes', 'toyota', 'mazda', 'bentley'],
 ['audi', 'mercedes', 'toyota', 'mazda', 'bentley']]




---
The below program is a function that takes a string list and returns a list of bigrams.

In [4]:
# A function that takes a string list and returns a list of bigrams
# Using List comprehension, enumerate() and split() functions
string_list1 = ["Audi Lexus toyota", "Mazda Volvo Marcedes"]
def generate_bigram(string_list):
         bigram_list = [(x,i.split()[j+1]) for i in string_list
                       for j, x in enumerate(i.split())if (j< len(i.split())- 1) ]
         return bigram_list

generate_bigram(string_list1)

[('Audi', 'Lexus'),
 ('Lexus', 'toyota'),
 ('Mazda', 'Volvo'),
 ('Volvo', 'Marcedes')]





---

The function in the program below finds the key with the input value closest to the beginning of the list, from a dictionary with keys as letters and values as lists of letters.

In [5]:
def closest_key(d, value):
  closest_key = None
  closest_pos = float('inf')
  for key, lst in d.items():
    if value in lst:
      pos = lst.index(value)
      if pos < closest_pos:
        closest_pos = pos
        closest_key = key
  return closest_key

d = {
    'd': ['c', 'v', 'd'],
    'f': ['v', 'd', 'l'],
    'g': ['l','c']
}
closest_key(d, 'v')

'f'